<div *ngIf="!country; else countryBlock"
  class="alert alert-info">
  Loading...
</div>

<ng-template #countryBlock>
  <div class="row">
    <div class="col-12">
      <h2 class="fw-bold">Country: <span>{{ country.name.common }}</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <p class="fs-2">Flag</p>
      <img
        [src]="country.flags.svg"
        alt="Flag"
        width="200px"
        class="img-thumbnail"/>
    </div>
    <div class="col-8">
      <p class="fs-2">
        Information
      </p>
      <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fw-bold">Population:</span> {{ country.population | number }}</li>
          <li class="list-group-item"><span class="fw-bold">Languages:</span> {{ country.languages.spa }} </li>
          <li class="list-group-item"><span class="fw-bold">Continents:</span> {{ country.continents }}</li>
          <li class="list-group-item"><span class="fw-bold">Fifa:</span> {{ country.fifa }}</li>
        </ul>
      </div>
    </div>
  </div>

  <p class="fs-2">Translations</p>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary m-1">{{ country.translations['ara'].common }}</span>
      <span class="badge bg-primary m-1">{{ country.translations['bre'].common }}</span>
      <span class="badge bg-primary m-1">{{ country.translations['fra'].common }}</span>
      <span class="badge bg-primary m-1">{{ country.translations['jpn'].common }}</span>
      <span class="badge bg-primary m-1">{{ country.translations['rus'].common }}</span>
      <span class="badge bg-primary m-1">{{ country.translations['spa'].common }}</span>
    </div>
  </div>

  <!-- <pre class="mt-5">
    {{ country | json }}
  </pre> -->
</ng-template>

