<table class="table text-white">
  <thead>
    <tr>
      <th>#</th>
      <th>Flag</th>
      <th>Name</th>
      <th>Population</th>
      <th>More</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index">
      <td>{{ i }}</td>
      <td>
        <img class="small-flag" [src]="country.flags.svg" alt="flag" width="50px">
      </td>
      <td>{{ country.capital }}, {{ country.name.common }}</td>
      <td>{{ country.population | number }}</td>
      <td>
        <a [routerLink]="['/country', country.cca2 ]">Show more</a>
      </td>
    </tr>
  </tbody>
</table>
